{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block style %}

/* Slideshow container */
.slideshow-container {
max-height:75vh;
background-color:grey;
margin: auto;

}

/* Next & previous buttons */
.prev, .next {
background-color: rgba(0,0,0,0.2);
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: yellow;

text-shadow: 2px 4px 5px rgba(0,0,0,0.8),
0px -4px 10px rgba(255,255,255,0.6);
background-color:transparent;
background-opacity:5;
font-size: 30px;
padding: 8px 12px;
position: absolute;
bottom: 15%;
text-align: center;
width:100%
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 2s;
}

@keyframes fade {
from {opacity: .3}
to {opacity: 1}
}

.img-1{left:8%;top:15%}
.img-2{right:8%;top:10%}
.img-3{z-index:5;}
.img-4{left:5%;bottom:10%}
.img-5{right:10%;bottom:15%;}


.img{border-radius:10%;border: 5px dashed #d09c00}
{% endblock %}
{% block body %}

<div class="slideshow-container relative ">
    {% for recipe in recipes %}
    <div class="mySlides relative fade">
        <!--  <div class="numbertext">{{forloop.counter}} / 5</div>-->
        <img class="imgcar" src="/static/{{recipe.recipe_image}}">
        <div class="text">{{recipe.recipe_name}}</div>
    </div>
    {% endfor %}

    <a class="prev absolute" onclick="plusSlides(-1)">❮</a>
    <a class="next absolute" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center;" class="cata">
    {% for recipe in recipes %}
    <span class="dot" onclick="currentSlide({{forloop.counter}})"></span>
    {% endfor %}
</div>

<div class="page2 h-screen  flex lg:flex-row md:flex-col  justify-around items-center ">
    <div class=" lg:w-1/2 md:w-full flex gap-10 flex-col justify-center items-center join">
        <h1 class="lg:text-7xl md:text-8xl text-yellow-800 bg-yellow-50 text-center reveal-bottom">Try or Contribute <br> <br> To our Recipes...</h1>
        <a href="{% url 'recipes' %}" class="go lg:text-5xl md:text-9xl my-16 bg-yellow-300 hover:bg-yellow-500 border-4 hover:shadow-lg shadow-xl px-8 py-4 rounded-2xl">Go</a>
    </div>
    <div class=" lg:w-1/2 lg:h-3/4 md:w-full  md:h-1/2 relative flex justify-center items-center ">
        {% for lastRecipe in lastRecipes %}
        <img src="/static/{{lastRecipe.recipe_image}}" class=" reveal-bottom absolute img w-1/3 img-{{forloop.counter}}">
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}

let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

setInterval(plusSlides(1), 1000);
function showSlides(n) {
let i;
let slides = document.getElementsByClassName("mySlides");
let dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}

{% endblock %}
